body{
    color: #30EB01;
    background-color: black;
    font-family: sans-serif;
    text-indent: 1em;
    line-height: 1.5;
}

strong{
    color: #0cab6e;
}

em{
    color: #0cab6e;
}

a{
    color: #0cab6e;
}

h1{
    text-align: center;
    font-size: 1.8rem;
}

h2{
    text-align: center;
    font-size: 1.4rem;
}

h3{
    text-align: center;
    font-size: 1.2rem;
}

abbr{
    font-variant: small-caps;
}